body{
    background-color: #32302f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.calculator{
    background-color: #282828;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    min-height: 200px;
    border-radius: 5%;
}


.screen{
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 3em;
    padding: 10px;
    margin: 20px;
    width: 340px;
    min-height: 100px;
    overflow-wrap: break-word;
    word-break: break-all;
    background-color: white;
    border-radius: 5px;
}

.buttons{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 400px;
    height: 500px;
}
button{
    font-size: 32px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    background-color: #3c3836;
    color: white;               
    border: none;
    border-radius: 50%;
    box-shadow: 0 8px #1d2021;
    position: relative;         
    transition: top 0.1s ease, box-shadow 0.1s ease;  
    transition: all 0.2s ease 0s;
}

button:active {
    box-shadow: 0 4px #1d2021;  
    top: 4px;                   
}

button:hover {
    background-color: #504945;
}

.operator:hover{
    background-color: #fe8019;
}

.equals:hover{
    background-color: #b8bb26;
}
.dot:hover{
    background-color: #83a598;
}

.clear:hover{
    background-color: #cc241d;
}
.backspace:hover{
    background-color: #fb4934;
}

button.wide-button {
    width: 150px;
}

